// colors
$btn_execute: #d63b6d;
$btn_add: #5751fa;
$rule_passed: #4cc188;
$rule_failed: #f2626b;
$font_color: #474748;
$border_color: #ededef;


// sizes

$fontH2: 20px;
$fontDefault: 14px;


$textIndeed: 20px;
